# dev branch → Development team owns
@CI-CD-Demo-Finkraft/development-team

# qa branch → QA_Team owns
@CI-CD-Demo-Finkraft/qa-team

# main branch → Release_Team owns
@CI-CD-Demo-Finkraft/release-team
